 #background-pop{
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}
#div-pop{
	background:#ffffff;
	width:40%;
	z-index: 1;
	margin: 5% auto;
	overflow: auto;
}