
<!-- Inner Container Start -->
<div class="container">

	<!-- Statistics Button Container -->
	<div class="mws-stat-container clearfix">
    	
        <!-- Statistic Item -->
    	
    	<a class="mws-stat" href="pfselect/index">
        	<!-- Statistic Icon (edit to change icon) -->
        	<span class="mws-stat-icon icol32-bug"></span>
            
            <!-- Statistic Content -->
            <span class="mws-stat-content">
            	<span class="mws-stat-title">index</span>
                <span class="mws-stat-value">平台选择</span>
            </span>
        </a>
    	<a class="mws-stat" href="notice/index">
        	<!-- Statistic Icon (edit to change icon) -->
        	<span class="mws-stat-icon icol32-bug"></span>
            
            <!-- Statistic Content -->
            <span class="mws-stat-content">
            	<span class="mws-stat-title">notice</span>
                <span class="mws-stat-value">公告管理</span>
            </span>
        </a>
    	<a class="mws-stat" href="whiteblack/index">
        	<!-- Statistic Icon (edit to change icon) -->
        	<span class="mws-stat-icon icol32-bug"></span>
            
            <!-- Statistic Content -->
            <span class="mws-stat-content">
            	<span class="mws-stat-title">whiteblack</span>
                <span class="mws-stat-value">黑白名单</span>
            </span>
        </a>
    	<a class="mws-stat" href="number/index">
        	<!-- Statistic Icon (edit to change icon) -->
        	<span class="mws-stat-icon icol32-bug"></span>
            
            <!-- Statistic Content -->
            <span class="mws-stat-content">
            	<span class="mws-stat-title">number</span>
                <span class="mws-stat-value">激活码&兑换码</span>
            </span>
        </a>
        
    </div>
</div>
