<!-- extends "./basetemplate/basetemplate.html" -->
<link rel="stylesheet" type="text/css" href="/static/jui/css/jquery.ui.timepicker.css" media="screen">
<link rel="stylesheet" type="text/css" href="/static/css/demo.css" media="screen">
<!-- JavaScript Plugins -->

<script src="/static/js/libs/jquery.mousewheel.min.js"></script>
<script src="/static/js/libs/jquery.placeholder.min.js"></script>
<script src="/static/custom-plugins/fileinput.js"></script>

<!-- jQuery-UI Dependent Scripts -->
<script src="/static/jui/js/jquery-ui-1.9.2.min.js"></script>
<script src="/static/jui/jquery-ui.custom.min.js"></script>
<script src="/static/jui/js/jquery.ui.touch-punch.js"></script>
<script src="/static/jui/js/timepicker/jquery-ui-timepicker.min.js"></script>

    <!-- Plugin Scripts -->
    <!--[if lt IE 9]>
    <script src="js/libs/excanvas.min.js"></script>
    <![endif]-->
<script src="/static/plugins/flot/jquery.flot.min.js"></script>
<script src="/static/plugins/flot/plugins/jquery.flot.tooltip.min.js"></script>
<script src="/static/plugins/flot/plugins/jquery.flot.pie.min.js"></script>
<script src="/static/plugins/flot/plugins/jquery.flot.stack.min.js"></script>
<script src="/static/plugins/flot/plugins/jquery.flot.resize.min.js"></script>
<script src="/static/plugins/colorpicker/colorpicker-min.js"></script>

<!-- Core Script -->
<script src="/static/bootstrap/js/bootstrap.min.js"></script>


<!-- Themer Script (Remove if not needed) -->
<script src="/static/js/core/themer.js"></script>

<!-- Demo Scripts (remove if not needed) -->
<script src="/static/js/demo/demo.widget.js"></script>
<!-- <script src="/static/js/demo/demo.charts.js"></script> -->
<script src="/static/js/time.js"></script>
<script>
$(document).ready(function(){

     $("#mws-form-dialog").dialog({
                autoOpen: false,
                title: "请选择",
                modal: true,
                width: "640",
                buttons: [{
                    text: "关闭",
                    click: function () {
                        $(this).dialog("close");
                    }
                }]
            });

    $("[name='gender']").click(function(){
        $("#cmdurl").val($(this).val());
        $("[name='cmdurl']").val($(this).val());        
    });

    $("#selectID").change(function(){
        //var selecttext =$("#selectID").find("option:selected").text();
        var selecttext =$("#selectID").val();
        $("#divurl").find("ul").attr("style",'display:none');
        $("#"+selecttext).attr("style",'display:');
        //alert(selecttext);
    });

    function Get_the_data(){
        var CmdUrl =  $("#cmdurl_sel").val().trim();    
        var Setstate = $("input[name='setstate']:checked").val();
        //alert(Setstate);
        var FullUrl = CmdUrl + "zxlf_get?cmd=gm_get_ban_list_js&bantype="+Setstate;
        $.ajax({
            url:FullUrl,
            type:'GET',
            dataType:'JSONP',
            cache:false,            
            success:function(ref){  
            	var StrM='';
            	if (Setstate==1) {
            		StrM="封号";
            	}else{
            		StrM="禁言";
            	};
            	if (ref.map != "[]") {
            	    //alert(ref);              
	                //$("#div_roleinfo").attr("style",'display:');
	                $("#div_black_account").attr("style",'display:');
	                //$("#pre_roleinfo").html(ref.map);  
	                $("#span_output").html(StrM+'玩家');
	                //alert(JSON.parse(ref.map)[0].account); 
	                AddTable(JSON.parse(ref.map));   
	            }else{
                    alert("未设置"+StrM);
                };                                     
            },
            complete:function(req){
                
            },
            error:function(XMLs,textSt,ErTh){
                alert('sssss-'+XMLs.status+'='+XMLs.readyState+'='+textSt+'='+ErTh);
            }
        });
    };

    $("#btn_sel").click(function(){
        if ($("#cmdurl_sel").val().trim() == "") {
            alert("cmdurl不能为空！");
        }else if ($("#cmdurl_sel").val().trim() == "例: http://127.0.0.1:9010/") {
            alert("cmdurl不能为空！");
        }else{
            //$("#div2").attr("style",'display:none');
            Get_the_data();
        }
    });

    function AddTable(RefMap){    	
        $('#divtable').html("");
        var addbody = "";   
        var Table = "<table class='mws-datatable-fn mws-table'><thead><tr><th>玩家账号</th><th>ID</th><th>开始时间</th><th>持续秒数</th><th>是否生效</th></tr></thead><tbody>";
        var Tbody = "</tbody></table>"                 
        for (var i =0 ; i < RefMap.length; i+=1) {
                    var newpf = RefMap[i];
                    //alert(newpf);
                    //var newpf = team.split("|");  
                    //var timer = newpf[3];
                    var timer = $.myTime.UnixToDate(newpf.starttime,true,8);
                    var bblack='';
                    if (newpf.isblock=="true") {
                    	bblack="yes";
                    }else{	
                    	bblack="no";
                    };
                    addbody = addbody+"<tr style='text-align:center'><td>"+newpf.account+"</td><td>"+newpf.roleid+"</td><td>"+timer+"</td><td>"+newpf.durtime+"</td><td>"+bblack+"</td></tr>";
                }
        //表 赋值        
        $('#divtable').append(Table+addbody+Tbody);

        //必须在表格 赋值 后
        //static/js/demo/demo.table.js
        if( $.fn.dataTable ) {
            $(".mws-datatable").dataTable();
            $(".mws-datatable-fn").dataTable({
                sPaginationType: "full_numbers"
            });
        }
    };

    {{ if .refmap}}
    	var refmap = "{{.refmap}}";
    	var reg=/&quot;/g;
    	refmap=refmap.replace(reg,'"');
        if (refmap != "[]") {
            //alert(ref);              

	        $("#div_black_account").attr("style",'display:');
	       
	        $("#span_output").html('返回信息');

	        AddTable(JSON.parse(refmap));   

        };                        
    {{end}}
        
    {{ if .send }}
        alert("{{.send}}");
    {{end}}
    
    $('#btn_send').click(function(){
        if($("#roleid").val().trim() == ""){
            alert("用户ID不能为空！");
        }else if ($("#roleid").val().trim() == "例: 17659294908430") {
            alert("用户ID不能为空！");
        }else if ($("#cmdurl").val().trim() == "") {
            alert("cmdurl不能为空！");
        }else if ($("#cmdurl").val().trim() == "例: http://127.0.0.1:9010/") {
            alert("cmdurl不能为空！");
        }else{ 
            var con = confirm("确认设置 "+$("#cmdurl").val().trim()+" ID: "+$("#roleid").val().trim()+" ？");
            if (con==true) {
                //alert("00-"+$("#mailtype").val());
                $("#form_blackaccount").submit();
            };                      
        }       
    });
   
	$("#cmdurl").setDefauleValue();
	$("[name='cmdurl']").setDefauleValue();
	$("[name='roleid']").setDefauleValue();
});

$.fn.setDefauleValue = function() {
    var defauleValue = $(this).val();
    $(this).val(defauleValue).css("color","#999");
    return this.each(function(){
        $(this).focus(function(){
            if ($(this).val() == defauleValue){
                $(this).val("").css("color","#000");
            }
        }).blur(function(){
            if ($(this).val() == ""){
                $(this).val(defauleValue).css("color","#999");
            }
        });
    });
}
</script>

<div id="div_create">
    <div class="mws-panel grid_3">
            <div class="mws-panel-header">
                <span><i class="icon-calendar"></i>服务器地址选择</span>
            </div>
            <div class="mws-panel-body no-padding"> 
             <form class="mws-form" action="">
                <div class="mws-form-inline">          
                    <div class="mws-form-row">
                        <label class="mws-form-label">cmdurl :</label>
                        <div class="mws-form-item">
                           <!-- <input type="text" class="large" id="cmdurl" name="cmdurl" value="例: http://127.0.0.1:9010/" /> -->
                           <input type="button" id="mws-form-dialog-mdl-btn" class="btn btn-success" value="url选择">
                        </div>                                        
                    </div>  
                </div> 
            </form>          
        </div>      
    </div>
     
     <div class="mws-panel grid_5" name="sel_data">
        <div class="mws-panel-header">
            <span><i class="icon-search"></i>查询</span>
        </div>
        <div class="mws-panel-body no-padding">
            <form class="mws-form" id="form_selectrole" method="post">
                <fieldset class="mws-form-inline">               
                    <div class="mws-form-row bordered">
                        <label class="mws-form-label">cmdurl :</label>
                        <div class="mws-form-item">
                           <input type="text" class="large" id="cmdurl_sel" name="cmdurl" value="例: http://127.0.0.1:9010/" />
                        </div>                                        
                    </div>
                    <div class="mws-form-row bordered">
						<label class="mws-form-label">类别 :</label>
						<div class="mws-form-item clearfix">
							<ul class="mws-form-list inline">
								<li><input id="setstate" name="setstate" type="radio" value="1" checked="checked"> <label>封号</label></li>
								<li><input id="setstate" name="setstate" type="radio" value="2"> <label>禁言</label></li>
							</ul>
						</div>
					</div>                    
                </fieldset>
                <div class="mws-button-row">                    
                    <input type="button" value="查询" class="btn btn-danger" id="btn_sel"/>
                </div>
            </form>
        </div>      
    </div>
</div>

<div id="div_black_account" style="display:none">
    <div class="mws-panel grid_5 mws-collapsible">
        <div class="mws-panel-header">
            <span><i class="icon-table"></i> <label class="mws-form-label" id="span_output" ></label> </span>
        </div>
        <div class="mws-panel-body no-padding" id="divtable">
                         
        </div>
    </div>  
</div> 

<div class="mws-panel grid_8 mws-collapsible" id="div_roleinfo" style="display:none">
    <div class="mws-panel-header">
        <span><i class="icon-table"></i>账号列表</span>
    </div>
    <div class="mws-panel-body no-padding">
        <table class="mws-table mws-datatable">
            <tbody>
                <pre id="pre_roleinfo"></pre>          
            </tbody>
        </table>
    </div>
</div>


<div class="mws-panel grid_5 mws-collapsible" name="send_data">
        <div class="mws-panel-header">
            <span><i class="icon-search"></i>设置</span>
        </div>
        <div class="mws-panel-body no-padding">
            <form class="mws-form" id="form_blackaccount" method="post" action="/gmtools/black_account">
                <fieldset class="mws-form-inline">               
                    <div class="mws-form-row bordered">
                        <label class="mws-form-label">cmdurl:</label>
                        <div class="mws-form-item">
                           <input type="text" class="large" name="cmdurl" id="cmdurl" value="例: http://127.0.0.1:9010/" />
                        </div>                                        
                    </div>
                    <div class="mws-form-row bordered">
                        <label class="mws-form-label">用户ID:</label>
                        <div class="mws-form-item">                          
                             <input type="text" class="large" name="roleid" id="roleid" value="例: 17659294908430" />                      
                        </div>
                    </div>
                    <div class="mws-form-row bordered">
						<label class="mws-form-label">操作类型 :</label>
						<div class="mws-form-item clearfix">
							<ul class="mws-form-list inline">
								<li><input id="setstate1" name="setstate1" type="radio" value="0" checked="checked"> <label>封停</label></li>
								<li><input id="setstate1" name="setstate1" type="radio" value="1"> <label>解封</label></li>
							</ul>
						</div>
					</div>          
					<div class="mws-form-row bordered">
						<label class="mws-form-label">禁止类型 :</label>
						<div class="mws-form-item clearfix">
							<ul class="mws-form-list inline">
								<li><input id="setstate2" name="setstate2" type="radio" value="1" checked="checked"> <label>封号</label></li>
								<li><input id="setstate2" name="setstate2" type="radio" value="2"> <label>禁言</label></li>
							</ul>
						</div>
					</div>                  
                </fieldset>
                <div class="mws-button-row">                    
                    <input type="button" value="提交" class="btn btn-danger" id="btn_send"/>
                </div>
            </form>
        </div>      
	</div>

	<div id="mws-form-dialog">
		<form id="mws-validate" class="mws-form" action="">
			<div class="mws-form-row bordered">
								<label class="mws-form-label">平台列表</label>
								<div class="mws-form-item">
									<select id="selectID" class="large">
										<option value="">请选择</option>
										{{range $vIndex,$cMem1 := .centerurl}}
										<option value={{$vIndex}}>{{$cMem1.PlatformName}}</option>
										{{end}}
									</select>
								</div>
							</div>
			<div class="mws-form-block">
				<div class="mws-form-row">
					<label class="mws-form-label"></label>
					<div class="mws-form-item clearfix" id="divurl">
						{{range $vvIndex,$cMem2 := .centerurl}}
						<ul class="mws-form-list inline" id={{$vvIndex}} style="display:none">
							{{range $_,$cMemMem := $cMem2.ServerList}}
							<li><input  type="radio" name="gender" class="required" value={{$cMemMem.Scmdurl}}> <label for="gender_male">{{$cMemMem.Sserver_name}}</label></li>                                
							{{end}}
						</ul>
						{{end}}
					</div>                                 
				</div>
			</div>
		</form>    
	</div>
</div>