<!-- extends "./basetemplate/basetemplate.html" -->
<link rel="stylesheet" type="text/css" href="/static/jui/css/jquery.ui.timepicker.css" media="screen">
<link rel="stylesheet" type="text/css" href="/static/css/demo.css" media="screen">
<!-- JavaScript Plugins -->

<script src="/static/js/libs/jquery.mousewheel.min.js"></script>
<script src="/static/js/libs/jquery.placeholder.min.js"></script>
<script src="/static/custom-plugins/fileinput.js"></script>

<!-- jQuery-UI Dependent Scripts -->
<script src="/static/jui/js/jquery-ui-1.9.2.min.js"></script>
<script src="/static/jui/jquery-ui.custom.min.js"></script>
<script src="/static/jui/js/jquery.ui.touch-punch.js"></script>
<script src="/static/jui/js/timepicker/jquery-ui-timepicker.min.js"></script>

    <!-- Plugin Scripts -->
    <!--[if lt IE 9]>
    <script src="js/libs/excanvas.min.js"></script>
    <![endif]-->
<script src="/static/plugins/flot/jquery.flot.min.js"></script>
<script src="/static/plugins/flot/plugins/jquery.flot.tooltip.min.js"></script>
<script src="/static/plugins/flot/plugins/jquery.flot.pie.min.js"></script>
<script src="/static/plugins/flot/plugins/jquery.flot.stack.min.js"></script>
<script src="/static/plugins/flot/plugins/jquery.flot.resize.min.js"></script>
<script src="/static/plugins/colorpicker/colorpicker-min.js"></script>

<!-- Core Script -->
<script src="/static/bootstrap/js/bootstrap.min.js"></script>


<!-- Themer Script (Remove if not needed) -->
<script src="/static/js/core/themer.js"></script>

<!-- Demo Scripts (remove if not needed) -->
<script src="/static/js/demo/demo.widget.js"></script>
<!-- <script src="/static/js/demo/demo.charts.js"></script> -->
<script>
$(document).ready(function(){
    $("#btn_close").hide();
    $("#div_create").hide();
    $("#btn_closedata").hide();

    $("#cmdurl").setDefauleValue();


    $("#mws-rangem-dialog").dialog({
                autoOpen: false,
                title: "请选择",
                modal: true,
                width: "640",
                buttons: [{
                    text: "关闭",
                    click: function () {
                        $(this).dialog("close");
                    }
                }]
            });

    $("[name='gender']").click(function(){
        $("#cmdurl").val($(this).val());
    });



    $("#selectID").change(function(){
        //var selecttext =$("#selectID").find("option:selected").text();
        var selecttext =$("#selectID").val();
        $("#divurl").find("ul").attr("style",'display:none');
        $("#"+selecttext).attr("style",'display:');
        //alert(selecttext);
    });
   	

    {{if .audit_res }}
      alert("{{.audit_res}}");
    {{ end }}

	$("[name='btn_audit']").click(function(){
        var UId = $(this).attr("id");  
        var Surl = "#serverurl_"+UId;        
        var con = confirm("确认向"+$(Surl).html()+" 发送ID为 "+UId+" 的跑马灯？");
        if (con==true) {
            var rangemId = "#rangem_marquee_" + UId;
            $(rangemId).submit();
        };             
    });

    $("[name='btn_delmar']").click(function(){
        var MId = $(this).attr("id");
        var con = confirm("确认删除ID为"+MId+"的跑马灯？");
                if (con==true) {
                     var url = "/operator/delete_marquee" +"?id="+ MId
                     window.location.href=url                    
                };       
    });

    $("#btn_new_submit").click(function(){
        var Settimer =  $("#settimer").val();
        if ($("#cmdurl").val().trim() == "") {
            alert("区服url不能为空！");
        }else if ($("#cmdurl").val().trim() == "例: http://127.0.0.1:9010/") {
            alert("区服url不能为空！");
        }else if ($("#content").val().trim() == "") {
            alert("内容不能为空！");                    
        }else{
         var con = confirm("确认提交？");
                if (con==true) {
                    $("#send_marquee").submit();  
                };                      

           
                        
        }
    });


    $("#btn_create").click(function(){
        if({{.candoact}}){
            $("#btn_close").show();
            $("#div_create").show(1000);
            $(this).hide();
        }else{
            alert("您没有该操作权限！");
        }
    });
    $("#btn_close").click(function(){
        $("#btn_create").show();
        $("#div_create").hide(1000);
        $(this).hide();
    });



});

$.fn.setDefauleValue = function() {
    var defauleValue = $(this).val();
    $(this).val(defauleValue).css("color","#999");
    return this.each(function(){
        $(this).focus(function(){
            if ($(this).val() == defauleValue){
                $(this).val("").css("color","#000");
            }
        }).blur(function(){
            if ($(this).val() == ""){
                $(this).val(defauleValue).css("color","#999");
            }
        });
    });
} 
</script>

<div>
<hr style="height:1px;border:none;border-top:1px solid #555555;" />
<input type="button" id="btn_create" value="发送跑马灯" class="btn " /><input type="button" id="btn_close" value="收起" class="btn " />
<hr style="height:1px;border:none;border-top:1px solid #555555;" />
<div id="div_create">
    <div class="mws-panel grid_5">
        <div class="mws-panel-header">
            <span> 发送跑马灯信息 </span>
        </div>
        <div class="mws-panel-body no-padding">
			<!-- 原来是rangem -->
            <form class="mws-rangem" id="send_marquee" method="post" action="/operator/send_marquee/">
                <fieldset class="mws-rangem-inline">
                    <!-- <legend> 服务器信息: </legend> -->
                    <div class="mws-rangem-row bordered">
                        <label class="mws-rangem-label"> 区服url: </label>
                        <div class="mws-rangem-item">
                           <input style='width:50%' type="text" class="large" name="cmdurl" id="cmdurl" value="例: http://127.0.0.1:9010/" />
                           <input type="button" id="mws-rangem-dialog-mdl-btn" class="btn btn-success" value="url选择">
                        </div>                                        
                    </div>   
                    <div class="mws-form-row bordered">
                        <label class="mws-form-label"> 类型: </label>
                        <div class="mws-form-item clearfix" id="mailchecked">
                            <ul class="mws-form-list inline">
                                <li><input id="marqueetype" name="marqueetype" type="radio" value="0" checked="checked"> <label style="color:red">普通跑马灯</label></li>
                                <li><input id="marqueetype" name="marqueetype" type="radio" value="1"> <label style="color:red">重要中央提示</label></li>
                            </ul>                                           
                        </div>                       
                    </div>    
                    <div class="mws-rangem-row bordered">
                        <label class="mws-rangem-label">滚动次数:</label>
                        <div class="mws-rangem-item">
                            <select id="select_terminate_num" name="select_terminate_num" class="large" style='width:50%'>
                                <option value='1'>1</option>
                                <option value='2'>2</option>
                                <option value='3'>3</option>
                                <option value='5'>5</option>
                                <option value='6'>6</option>
                                <option value='8'>8</option>
                                <option value='10'>10</option>
                            </select>
                        </div>
                    </div>             
                   
                    <div class="mws-rangem-row bordered">           
                        <label class="mws-rangem-label"> 跑马灯内容: </label>
                        <div class="mws-rangem-item">
                            <textarea name="content" id="content" rows="" cols="" class="large"></textarea>                          
                        </div>
                    </div>
                    
                </fieldset>
                <div class="mws-button-row">
                    <input type="button" value="提交" class="btn btn-danger" id="btn_new_submit"/>
                </div>
            </form><!-- 原来是rangem -->
        </div>            
    </div>
</div>

<div class="mws-panel grid_8 mws-collapsible">
	<div class="mws-panel-header">
    	<span><i class="icon-table"></i>跑马灯信息</span>
    </div>
    <div class="mws-panel-body no-padding">
        <table class="mws-table mws-datatable" >
            <thead>
                <tr>
                    <th> ID </th>
                    <th> 服务器url </th>
                    <th> 跑马灯类型 </th>                    
                    <th> 内容 </th>
                    <th> 滚动次数 </th>                    
                    <th> 创建时间 </th>
                    <th> 发送时间 </th>
                    <th> 提交ID </th>
                    <th> 审核ID </th>
                    <th> 操作 </th>                        
                </tr>
            </thead>
            <tbody><!-- {MARID,TYPE,NUM,CONTENT,StrTime,NewSendok,StrAuditTime,SERVERURL1,SENDID,AUDITID, Btn_danger, Disabled, Style} -->
            	{{range $_,$vmem := .marquee_result}}
				<tr>
					<div id="rangem_marquee_{{$vmem.ID}}" method="post" action="/operator/audit_marquee" align="center" >
						<td><label class="mws-rangem-label">{{$vmem.ID}}</label></td>
						<td><label class="mws-rangem-label" id="serverurl_{{$vmem.ID}}" >{{$vmem.Serverurl}}</label></td>
                        <td><label class="mws-rangem-label">{{$vmem.TypeStr}}</label></td>						
						<td><textarea style='width:100%;overflow-y:hidden;' name="content" rows="" cols="" class="large" disabled="disabled">{{$vmem.Content}}</textarea></td>
						                     
                        <td><label class="mws-rangem-label">{{$vmem.Num}}</label></td>
                        <td><label class="mws-rangem-label">{{$vmem.Createtime}}</label></td>
                        <td><label class="mws-rangem-label">{{$vmem.Audittime}}</label></td>
                        <td><label class="mws-rangem-label">{{$vmem.Sendid}}</label></td>
                        <td><label class="mws-rangem-label">{{$vmem.Auditid}}</label></td>
						<td>
							<input type="hidden" name="marid" id="marid" value="{{$vmem.ID}}" />
							<input type="button" id="{{$vmem.ID}}" name="btn_audit" value="{{$vmem.Sendok}}" class="{{$vmem.Mclass}}" {{$vmem.Disabled}} />
                            <input type="button" id="{{$vmem.ID}}" name="btn_delmar" value="删除" class="btn btn-danger" style="{{$vmem.Style}}" {{$vmem.Disabled}}/>
						</td>
					</div>				
				</tr>
				{{end}}
            </tbody>
        </table>
    </div>
</div>




	<div id="mws-rangem-dialog">
		<div id="mws-validate" class="mws-rangem" action="">
			<div class="mws-rangem-row bordered">
				<label class="mws-rangem-label">平台列表</label>
				<div class="mws-rangem-item">
					<select id="selectID" class="large">
						<option value="">请选择</option>
						{{range $vindex,$cMem1 := .centerurl}}
						<option value={{$vindex}}>{{$cMem1.PlatformName}}</option>
						{{end}}
					</select>
				</div>
			</div>
			<div class="mws-rangem-block">
				<div class="mws-rangem-row">
					<label class="mws-rangem-label"></label>
					<div class="mws-rangem-item clearfix" id="divurl">
						{{range $vindex2,$cMem2 := .centerurl}}
						<ul class="mws-rangem-list inline" id={{$vindex2}} style="display:none">
							{{ range $_,$cMemMem := $cMem2.ServerList }}
							<li><input  type="radio" name="gender" class="required" value = {{$cMemMem.Scmdurl}}> <label range="gender_male">{{$cMemMem.Sserver_name}}</label></li>                                
							{{end}}
						</ul>
						{{end}}
					</div>                                 
				</div>
			</div>
		</div>    
	</div>
</div>