<script>
function onTouchDelete(itemdata){

	var routerUrl = "/info/maildelete";

	var recvdata = GetRequest();
	
	console.log("onTouchDelete",itemdata,recvdata)

	$.ajax({
		url: routerUrl,
		type: 'POST',
		dataType: 'text',
		data: {itemid:itemdata.ID,serverid:recvdata.serverid,usrid:recvdata.usrid},
		cache: false,
		success: function (ref) {
			console.log("onTouchDeleteResult :",ref);
			
			ref == "0" && alert(ref);
			
		}
	});	
}
</script>


{{template "tabar2" .}}


<div class="mws-panel grid_8 mws-collapsible">
	<div class="mws-panel-header">
    	<span><i class="icon-table"></i>查询结果</span>
    </div>
    <div class="mws-panel-body no-padding">
        <table class="mws-table mws-datatable">
            <thead>
                <tr>
                    <th> 邮件标题 </th>
                    <th> 点击展开 </th>
                </tr>
            </thead>
            <tbody>
				<!-- for NoticeId, Notice, NoticeTime, EndTime, Titile, RewardStrList  in dbcont -->
            	{{range $_,$mem := .maillist }}
				<tr>
				<td>{{$mem.Title}}</td>
				<td>
					<input type="button" id="{{$mem.ID}}" name="btn_delete" onclick="onTouchDelete({{$mem}})" value="删除" class="btn btn-danger" />
				</td>
				</tr>
				{{end}}
            </tbody>
        </table>
    </div>
</div>

<hr style="height:1px;border:none;border-top:1px solid #555555;" />



