{{define "tabar"}}

<div class="container">
	<div class="mws-stat-container clearfix">
    	<a class="mws-stat" href="./index">
        	<span class="mws-stat-icon icol32-bug"></span>
            <span class="mws-stat-content">
                <span class="mws-stat-value">玩家</span>
            </span>
        </a>
		<a class="mws-stat" href="./mute">
        	<span class="mws-stat-icon icol32-bug"></span>
            <span class="mws-stat-content">
                <span class="mws-stat-value">禁言</span>
            </span>
        </a>
		<a class="mws-stat" href="./seal">
        	<span class="mws-stat-icon icol32-bug"></span>
            <span class="mws-stat-content">
                <span class="mws-stat-value">封停</span>
            </span>
        </a>
    </div>
</div>

{{end}}